.container {
  display: flex;
  background-color: black;
  color: white;
  border-bottom: 1px white solid;
  padding: 16px 0px;
  white-space: nowrap;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 16s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
